.clearfix {
    clear: both;
    /*height: 0;*/
    overflow: hidden;
}

.menuheader a {
    text-decoration: none!important;
    color: #FFFFFF!important;
}

.con {
    width: 1300px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.menuheader {
    height: 122px;
    width: 100%;
    background: #0071c5;
}

.menuheader .logo {
    position: absolute;
    top: 7px;
    left: 20px;
}

.menuheader .menu {
    position: absolute;
    top: 78px;
    left: 250px;
    color: #FFFFFF;
}

.menuheader .menu:after {
    content: "";
    width: 2px;
    height: 20px;
    background: #fff;
    position: absolute;
    right: -20px;
    top: 10px;
}

.menuheader .menu li {
    display: block;
    float: left;
    line-height: 40px;
    font-size: 15px;
    margin: 0 20px;
    padding: 0 10px;
}

.menuheader .nav_btn_wrapper {
    position: absolute;
    bottom: 0px;
    left: 875px;
    width: 144px;
    height: 37px;
    overflow: hidden;
}

.menuheader .nav_btn_wrapper .nav_btn {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 3px 15px;
    border-radius: 18px;
    color: #0071c5;
    font-size: 14px;
    z-index: 9;
}

.menuheader .nav_btn_wrapper .yy {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 120px;
    height: 100%;
    background: #0554ae;
    z-index: 1;
    transform: skew(30deg);
}

.menuheader .nav_btn a {
    color: #0071c5!important;
}

.menuheader .login {
    position: absolute;
    top: 17px;
    left: 650px;
    color: #fff;
}

.menuheader .search {
    position: absolute;
    top: 11px;
    left: 800px;
    color: #fff;
    height: 30px;

}

.menuheader .search .input-ban {
    background: none;
    border: 0;
    border-bottom: 1px solid #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    color: #fff;
}

.menuheader .search .button {
    width: 22px;
    height: 22px;
    background: url("../images/search.png") no-repeat center center;
    border: 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.menuheader .menu li:hover, .menuheader .menu li.active {
    border-bottom: 4px solid #ffffff;
}

.hc_con1 {
    width: 100%;
    height: 633px;
    background: url("../images/con1.jpg") no-repeat center center;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
	position:relative;
}

.hc_con1 .cm {
    position: absolute;
    top: 50px;
    right: 0;
}

.hc_con1 .con1_con {
    color: #FFFFFF;
    position: absolute;
    bottom: 140px;
    left: 20px;
}

.hc_con1 .con1_con .con1_con1 {
    font-size: 50px;
}

.hc_con1 .con1_con .con1_con2 {
    font-size: 65px;
}

.hc_con1 .con1_con .con1_con3 {
    font-size: 26px;
    line-height: 250%;
}

.hc_con1 .con1_con #microsoftlogo {
    position: absolute;
    bottom: 77px;
    right: 25px;
}

.hc_con2 {
    width: 100%;
    height: 628px;
    background: url("../images/con2.jpg") no-repeat center center;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.hc_con2 .con2_title {
    text-align: center;
    color: #FFFFFF;
    font-size: 42px;
    margin-top: 75px;
    margin-bottom: 30px;
}

.hc_con2 ul {
    text-align: center;
}

.hc_con2 ul li {
    width: 170px;
    height: 170px;
    display: inline-block;
    margin: 10px;
    position: relative;
}

.hc_con2 .li1 {
    background: url("../images/con2_1.png") no-repeat center 20px;
}

.hc_con2 .li2 {
    background: url("../images/con2_2.png") no-repeat center 20px;
}

.hc_con2 .li3 {
    background: url("../images/con2_3.png") no-repeat center 20px;
}

.hc_con2 .li4 {
    background: url("../images/con2_4.png") no-repeat center 20px;
}

.hc_con2 .li5 {
    background: url("../images/con2_5.png") no-repeat center 15px;
}

.hc_con2 .li6 {
    background: url("../images/con2_6.png") no-repeat center 32px;
}

.hc_con2 .li7 {
    background: url("../images/con2_7.png") no-repeat 56px 20px;
}

.hc_con2 .li8 {
    background: url("../images/con2_8.png") no-repeat center 20px;
}

.hc_con2 li:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;

}

.hc_con2 li:hover:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(125, 232, 251, .3);
}

.hc_con2 li:hover a {
    opacity: 1;
}

.hc_con2 li a {
    color: #e8fbfe;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 10px;
    z-index: 99;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}

.hc_con3 {
    width: 100%;
    height: 622px;
    background: url("../images/con3.jpg") no-repeat center center;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.hc_con3 .con3_1 {
    font-size: 50px;
    position: absolute;
    top: 271px;
    left: 190px;
    color: #fff;
    letter-spacing: 6px;
}

.hc_con3 .con3_2 {
    font-size: 25px;
    position: absolute;
    top: 341px;
    left: 190px;
    color: #fff;
    letter-spacing: 2px;
}

.hc_con3 .con3_3 {
    font-size: 20px;
    position: absolute;
    top: 402px;
    left: 218px;
    color: #6ed4f2;
    font-family: "微软雅黑";
    font-weight: bold;
}

.hc_con3 .con3_3 a {
    color: #6ed4f2!important;
}

.hc_con3 .con3_btn_con {
    width: 170px;
    height: 170px;
    position: absolute;
    text-align: center;
}

.hc_con3 .con3_btn_con:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.hc_con3 .con3_btn_con:hover:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 170px;
    background: rgba(125, 232, 251, .3);
    z-index: 0;
}

.hc_con3 .con3_btn_con:hover a {
    opacity: 1;
}

.hc_con3 .con3_btn_con a {
    color: #fff;
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity .1s;
    -moz-transition: opacity .1s;
    -ms-transition: opacity .1s;
    -o-transition: opacity .1s;
    transition: opacity .1s;
    z-index: 99;
}

.hc_con3 .con3_btn_con.con3_btn_con1 {
    background: url("../images/con5_1.png") no-repeat center 30px;
    top: 140px;
    left: 874px;
}

.hc_con3 .con3_btn_con.con3_btn_con2 {
    background: url("../images/con5_2.png") no-repeat center 30px;
    top: 340px;
    left: 750px;
}

.hc_con3 .con3_btn_con.con3_btn_con3 {
    background: url("../images/con5_3.png") no-repeat center 35px;
    top: 340px;
    left: 1000px;
}

.hc_con4 {
    width: 100%;
    height: 628px;
    background: url("../images/con4.jpg") no-repeat center center;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.hc_con4 .con {
    background: url("../images/con4_bg.png") no-repeat center 125px;
}

.hc_con4 a {
    position: absolute;
    font-size: 20px;
    -webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -ms-transition: transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
}

.hc_con4 a:hover {
    transform: scale(1.2);
}

.hc_con4 .con4_1 {
    left: 293px;
    top: 238px;
    color: #d59272;
}

.hc_con4 .con4_2 {
    left: 400px;
    top: 172px;
    color: #fff;
}

.hc_con4 .con4_3 {
    left: 399px;
    top: 294px;
    color: #2db6fd;
}

.hc_con4 .con4_4 {
    left: 506px;
    top: 235px;
    color: #f1d51b;
}

.hc_con4 .con4_5 {
    left: 612px;
    top: 169px;
    color: #8ec9f3;
}

.hc_con4 .con4_6 {
    left: 718px;
    top: 232px;
    color: #a9dd90;
}

.hc_con4 .con4_7 {
    left: 823px;
    top: 169px;
    color: #e19090;
}

.hc_con4 .con4_8 {
    left: 825px;
    top: 295px;
    color: #f7a759;
}

.hc_con4 .con4_9 {
    position: absolute;
    top: 400px;
    text-align: center;
    font-size: 44px;
    color: #FFFFFF;
    letter-spacing: 5px;
    width: 100%;
}

.hc_con4 .con4_10 {
    position: absolute;
    top: 470px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
}

.hc_con5 {
    width: 100%;
    height: 629px;
    background: url("../images/con5.jpg") no-repeat center center;
}

.hc_con5 p {
    margin: 90px 0 120px;
    text-align: center;
    font-size: 44px;
    color: #fff;
    letter-spacing: 5px;
}

.hc_con5 ul {
    text-align: center;
}

.hc_con5 ul li {
    display: inline-block;
    width: 188px;
    height: 155px;
    margin: 0 15px;
    position: relative;
}

.hc_con5 ul li:before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 0;
    height: 0;
    border: 1px solid #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.hc_con5 ul li:hover:before {
    position: absolute;
    top: -1px;
    left: -1px;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
}

.hc_con5 ul li a {
    position: absolute;
    top: -24px;
    left: 10px;
}

.hc_con5 ul li.li1 {
    background: url("../images/con4_1.png") no-repeat center center;
}

.hc_con5 ul li.li2 {
    background: url("../images/con4_2.png") no-repeat center center;
}

.hc_con5 ul li.li3 {
    background: url("../images/con4_3.png") no-repeat center center;
}

.hc_con5 ul li.li4 {
    background: url("../images/con4_4.png") no-repeat center center;
}

.hc_footer {
    width: 100%;
    height: 170px;
    background: #e3e3e3;
}

.hc_footer p {
    font-size: 14px;
    line-height: 200%;
    color: #373737;
}

.hc_footer p.footer_con1 {
    margin-top: 10px;
}

.hc_footer .footer_con4 {
    margin-top: 15px;
    vertical-align: middle;

}

.hc_footer .footer_con4 span {
    display: inline-block;
    border: 1px solid #4d4c4c;
    padding: 5px 15px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
}

.hc_footer .footer_con4 img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.hc_footer .footer_con5 ul {
    position: absolute;
    right: 0;
    top: 0;
}

.hc_footer .footer_con5 ul li {
    width: 150px;
    height: 140px;
    display: inline-block;
    background: url("../images/qrcode.png") no-repeat center 15px;
    font-size: 13px;
    position: relative;
}

.hc_footer .footer_con5 ul li a {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: #4d4c4c;
}

.flex-direction-nav a {
	margin-top:37px;
}

/*二级页和三级页*/
.con_mbx{
	width:100%;
	background:#fff;
	height:48px;
	line-height:48px
}
.con_mbx .breadcrumb{margin:0; padding:0; background:#fff}
.cd_nav .field-content a{ color:#000}
.listbg{ background:#eeeeee}
.cd_nav .content ul li ul li{ width:141px;}

/*
www.devsaran.com
*/

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);


.confoot{ width:1024px; height:160px; margin:0 auto; position:relative; color:#fff; }
.confootbg{ background:#2e3139}
.confoot .foot1{ float:left; width:590px; font-size:12px; font-family:Tahoma, Geneva, sans-serif; line-height:200%; margin-top:38px}
.confoot .foot1 .foot12{ margin-top:18px}
.confoot .foot2{ float:left; width:140px; margin-top:50px}
.confoot .foot3{ float:right; width:240px; margin-top:18px}
.confoot .foot3 .foot3div{ float:right; text-align:center}
.confoot .foot3 .foot3div p{ margin-top:6px;}


.con0{ width:1024px; height:80px; margin:0 auto; position:relative}
.con0 ul li {list-style: outside none none;}
.con0bg{ background:#2e313a}
.con0_logo{ width:200px; float:left; margin-top:12px}
.con0_logo .con0_1_1{ display:block; float:left}
.con0_logo .con0_1_2{ display:block; float:left;margin-left: 5px;margin-top: 6px;}
.con0 .con0_nav{ height:40px; color:#fff; float:left; margin-top:25px}
.con0 .con0_nav li{ padding:0 16px; line-height:40px; float:left}
.con0 .con0_nav li a{ color:#fff; text-decoration:none}
.con0 .con0_nav li a.active{ color:#fd5f47; text-decoration:none}
.con0_user{ width:202px; float:right; margin-top:17px}
.con0_user .con0_user_p{ line-height:200%; color:#fff; background:#fd5f47; float:left; padding:0 20px; border-radius:20px; margin-left:10px}
.con0_user img { display:block; float:left; }

.cs0{ width:200px; height:45px; margin-top:38px; margin-right:24px; float:left; line-height:45px; color:#fff; font-size:16px}
.cs1{ width:800px; height:45px; margin-top:38px; float:left}
.cs1 .c211{ display:block; float:left; width:600px; height:43px; background:#c52a13; border:0; color:#fff; font-size:14px; text-indent:20px}
.cs1 .c212{ display:block; float:left; width:200px; height:43px; background: url(img/icon-search.png) no-repeat 25px center #fd5f47; border:1px solid #c52a13; text-align:center; }
.cs1 .c212 span{ color:#fff; line-height:43px; font-size:18px;}


.con2{ width:1024px; height:118px; margin:0 auto; position:relative}
.con2bg{ background:#fd5f47}
.con2 .arr{ position: absolute; top:0; left:50%; margin-left:-29px}
.c21{ width:1024px; height:45px; margin-top:38px;}
.c21 .c211{ display:block; float:left; width:810px; height:43px; background:#c52a13; border:0; color:#fff; font-size:14px; text-indent:20px}
.c21 .c212{ display:block; float:left; width:210px; height:43px; background: url(img/icon-search.png) no-repeat 25px center #fd5f47; border:1px solid #c52a13; text-align:center; }
.c21 .c212 span{ color:#fff; line-height:43px; font-size:18px;}

/*0310*/
.condetail .cd_nav li{ line-height:300%; color:#555555}
.condetail .cd_nav li.active a{ line-height:300%; color:#555555; background:#dbdbdb; display:block; width:100%}
.condetail .cd_nav li a{ text-decoration: none; color:#555555; display:block; width:100%}
.condetail .cd_nav li a:hover{ color:#555555;}
.condetail .cd_nav li.active a:hover{ color:#555555;}
.condetail .cd_nav .cd_nav_p_node{ text-indent:2em;}
.condetail .cd_nav .cd_nav_s_node{ text-indent:4em;}
.condetail .cd_content{ float:left; border-top:1px solid #ebebeb}
.condetail .cd_content .cd_content_list{ border-bottom:1px solid #ebebeb; padding:20px; background:#fff; overflow:hidden; position:relative}
.condetail .cd_content .cd_content_list .cd_content_listh3{ color:#313131; font-size:15px; font-weight:bold;}
.condetail .cd_content .cd_content_list .cd_content_listp{ color:#ababab; font-size:12px; line-height:180%; margin-top:10px}
.condetail .cd_content .cd_content_list .cd_content_listspan{ position:absolute; bottom:12px; right:20px;color:#ababab; font-size:12px; line-height:200%;}
.condetail .cd_content .cd_content_list img{ display:block; float:left; margin:20px 20px 0 0}
.cd_nav .cd_nav_title{
  font-size: 20px;
  font-weight: bold;
  line-height: 300%;
  color: #555;
  font-family: "微软雅黑";
  text-indent: 1em;
  margin-top: 30px;
}

/*0310 end*/
.condetail{ width:1300px; margin:0 auto; position:relative; margin-top:20px; overflow:hidden; padding-bottom:30px}
.condetail .cd_nav{width:224px; float:left;}
.condetail .cd_nav li{ line-height:300%; color:#424242}
/*add*/
.condetail .cd_content .cd_content_list .breadcrumb{ padding:8px 15px;margin-bottom:20px;list-style:none;background-color:#fff;border-radius:4px}
.cd_main .breadcrumb{padding:8px 15px;margin-bottom:20px;list-style:none;background-color:#fff;border-radius:4px}

.condetail .cd_nav .field-content{ line-height:300%; color:#424242}
/*.condetail .cd_nav .field-content a.active{ line-height:300%; color:#fff; background:#fd5f47; display:block; width:100%}*/
.condetail .cd_nav .field-content a.active{ line-height:300%; color:#3c88d3; background:#fff; display:block; width:100%}
.condetail .cd_nav ul li{list-style: outside none none;}
.condetail .cd_nav ul li ul li{list-style: outside none none;text-align:center; background:#fff; margin-top:2px}
.condetail .cd_nav ul li{ }
.condetail .cd_nav ul{ margin: 0px;padding: 0px}
.condetail .cd_content .cd_content_file_list{ display:block; float:left; margin:0 3px 3px 0; border-radius: 7px;border:10px;height:auto; width: auto;background: #33CC33;padding: 0 9px 0 9px}
.condetail .cd_content .cd_content_file .clear{clear: both}
.condetail .cd_content .cd_content_file_list a{ color: #ffffff;}

/*add end*/
.condetail .cd_nav li.active a{ line-height:300%; color:#fff; background:#fd5f47; display:block; width:100%}
.condetail .cd_nav li a{ text-decoration: none; color:#424242; display:block; width:100%}
.condetail .cd_nav li a:hover{ color:#fd5f47;}
.condetail .cd_nav li.active a:hover{ color:#fff;}
.condetail .cd_nav .cd_nav_p_node{ text-indent:2em;}
.condetail .cd_nav .cd_nav_s_node{ text-indent:4em;}
.condetail .cd_content{ float:left; border-top:1px solid #ebebeb}
.condetail .cd_content .cd_content_list{ border-bottom:1px solid #ebebeb; padding:20px; background:#fff; overflow:hidden; position:relative}
.condetail .cd_content .cd_content_list .cd_content_listh3{ color:#313131; font-size:15px; font-weight:bold;}
.condetail .cd_content .cd_content_list .cd_content_listp{ color:#ababab; font-size:12px; line-height:180%; margin-top:10px}
.condetail .cd_content .cd_content_list .cd_content_listspan{ position:absolute; bottom:12px; right:20px;color:#ababab; font-size:12px; line-height:200%;}
.condetail .cd_content .cd_content_list img{ display:block; float:left; margin:0px 0px 0 0}


.condetail .cd_main{ ;width:710px; float:left; background:#fff; padding:20px 20px 40px 20px;}
/*.condetail .cd_main{width:800px; float:left; background:#fff; padding-bottom:40px}*/
.condetail .cd_main .cd_main_nav{ font-size:14px; line-height:120%; color:#666; padding-top:30px; padding-bottom:20px; margin-left:20px; margin-right:10px}
.condetail .cd_main .cd_main_nav a{ color:#666; padding:0 10px; border-right:1px solid #666; display:block; float:left}
.condetail .cd_main .cd_main_nav span{ padding:0 10px;}
.condetail .cd_main .cd_main_content{ border-top:1px solid #aaa; border-bottom:1px solid #aaa; margin-left:10px; margin-right:10px; padding-bottom:20px}
.condetail .cd_main .cd_main_content h3{ font-size:18px; font-weight:bold; line-height:220%}
.condetail .cd_main .cd_main_content p{ font-size:12px; font-weight:bold; line-height:200%; color:#999; margin-top:10px}
.condetail .cd_main .cd_main_content .cd_main_foot{ margin-top:40px;}
.condetail .cd_main .cd_main_content .cd_main_foot span{ float:right; font-weight:normal; font-size:12px; color:#666}

.confoot{ width:1024px; height:160px; margin:0 auto; position:relative; color:#fff; }
.confootbg{ background:#2e3139}
.confoot .foot1{ float:left; width:590px; font-size:12px; font-family:Tahoma, Geneva, sans-serif; line-height:200%; margin-top:38px}
.confoot .foot1 .foot12{ margin-top:18px}
.confoot .foot2{ float:left; width:140px; margin-top:50px}
.confoot .foot3{ float:right; width:240px; margin-top:18px}
.confoot .foot3 .foot3div{ float:right; text-align:center}
.confoot .foot3 .foot3div p{ margin-top:6px;}


/* Reset
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Body & Main
================================================== */
body {
  nowhitespace: afterproperty;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font: 14px/1.6 'Oxygen',sans-serif;
  color: #606060;
}

/* Links */
a {
  color: #0099FF;

}
a:visited {
  color: #0099FF;
}
a:hover,
a:focus,
a:active {
  color:#000;
  text-decoration: none;
}

/*set max img width*/
img {
  max-width: 100%;
}


/* Commons
================================================== */

/*clear floats*/
.remove-margin {
  margin-right: 0 !important;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/*blockquote*/
blockquote {
  position: relative;
  margin: 30px 20px;
  padding-left: 25px;
  font-style: italic;
  font-weight: bold;
  color: #000;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #000;
  content: open-quote;
  font-size: 3em;
  line-height: .1em;
  position: absolute;
  top: 20px;
  left: -10px;
}

blockquote p:last-child {
  margin: 0;
}


/*preformatted text*/
pre {
  background: #fff url("images/pre-bg.png") repeat;
  margin: 40px 0px;
  padding: 25px 20px;
  line-height: 25px;
  border: 1px solid #ddd;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

ul, ol {
  margin: 0 0 1em 1.5em;
}
ul {
  list-style: disc;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style: upper-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
ol ol ol ol {
  list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}
th {
  font-weight: bold;
  padding:10px 10px;
}

tr{
  padding:5px 5px;
}

td{
  padding:5px 10px;
}

#primary table {
  margin: 0 0 1.5em;
  width: 100%;
  border:1px solid #ddd;
  border-right:none;
  background:#fff;
}

#primary th {
  font-weight: bold;
  padding:10px 10px;
  background:#555;
  color:#fff;
}

#primary tr{
  padding:5px 5px;
}

#primary td{
  padding:5px 10px;
  border-top:1px solid #ddd;
  border-right:1px solid #ddd;
}

/* Typography
================================================== */

/* Headings */
h1,h2,h3,h4,h5,h6 {
  clear: both;
}

h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

p {
  /*margin: 0 0 20px;*/
}

p img {
  margin: 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

hr {
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

p a, p a:visited {
  line-height: inherit;
}

a:link {
  text-decoration: none;
}

a:focus {
  outline: 0;
}

a {
  outline: 0;
}

p a, p a:visited {
  line-height: inherit;
}

a:focus {
  outline: 0;
}


/* Head */

#masthead{
  position: relative;
}
.site-branding{
  margin-bottom: 20px;
}
#site-logo {
  float: left;
  padding: 15px 15px 0 0;
}
h1#site-title{
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 18px;
  clear: none;
}
h1#site-title a:link, h1#site-title a:visited{
  color: #000;
}

/* Menu */

.menutoggle{
  width: 36px;
  height: 36px;
  color: #777;
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 36px;
  text-align: center;
  background: #fff;
  position: absolute;
  right: 20px;
  top:25px;
  font-size: 20px;
  display:none;
}

#main-menu {
  padding:0px 0px;
  margin: 22px 0px 15px;
  height:45px;
  border-bottom: none;
  float: left;
}
  
#main-menu ul {
  width: auto;
  float:left;
  list-style: none;
  margin: 0;
  padding: 0 0px;
}
  
#main-menu li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight:400;
}
  
#main-menu li a {
  color: #777;
  display: block;
  margin: 0;
  padding: 19px 10px 19px 10px;
  text-decoration: none;
  position: relative;
}

#main-menu li a:hover, #main-menu li a:active, #main-menu a.active, #main-menu > ul > li > a.active-trail {
  color: #ed564b;
}
  
#main-menu li a.sf-with-ul {
  padding-right: 10px;
} 

#main-menu li ul li a, #main-menu li ul li a:link, #main-menu li ul li a:visited,
#main-menu li ul li ul li a, #main-menu li ul li ul li a:link, #main-menu li ul li ul li a:visited,
#main-menu li ul li ul li ul li a, #main-menu li ul li ul li ul li a:link, #main-menu li ul li ul li ul li a:visited {
  color:#777;
  width: 148px; 
  margin: 0;
  padding: 10px 10px;
  border-top:1px solid #ddd;
  position: relative;
  font-weight:400;
}
  
#main-menu ul li ul li:first-child a,#main-menu ul li ul li ul li:first-child a,#main-menu ul li ul li ul li ul li:first-child a  {
  border-top:none;
}

  
#main-menu li ul li a:hover ,#main-menu li ul li ul li a:hover ,#main-menu li ul li ul li ul li a:hover {
  color: #ed564b;
}

#main-menu li ul {
  font-size: 12px;
  z-index: 9999;
  position: absolute;
  left: -999em;
  height: auto;
  width: 160px;
  margin: 0px 0px 0px 0px;
  padding: 5px 5px;
  background:#efefef;
}

#main-menu li ul a { 
  width: 150px;
}

#main-menu li ul a:hover, #main-menu li ul a:active { 
}

#main-menu li ul ul {
  margin: -44px 0 0 160px;
}

#main-menu li:hover ul ul, #main-menu li:hover ul ul ul, #main-menu li.sfHover ul ul, #main-menu li.sfHover ul ul ul {
  left: -999em;
}

#main-menu li:hover ul, #main-menu li li:hover ul, #main-menu li li li:hover ul, #main-menu li.sfHover ul, #main-menu li li.sfHover ul, #main-menu li li li.sfHover ul {
  left: auto;
}

#main-menu li:hover, #main-menu li.sfHover { 
  position: static;
}

#main-menu > ul > li > a {
  padding : 10px;
}

/* Layout */

#primary, #sidebar{

}

#main-content {
  padding-top: 15px;
}

/* Slider */



.doverlay{
  background: url(images/overlay.png);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top:0px;
  z-index: 100;
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
  
.flex-caption{
  width: 800px;
  position: absolute;
  top:28%;
  left: 50%;
  margin-left: -400px;
  text-align: center;
  z-index: 120;
  color: #fff;
} 
  
.flex-caption h2{
  text-transform: uppercase;
  font-size: 36px;
  color: #fff;
}

.flex-caption h2 a:link, .flex-caption h2 a:visited{
  color: #fff;
}

.flex-caption p{
  font-size: 16px;
}

a.frmore{
  background: rgba(255,255,255,0.2);
  display: block;
  text-transform: uppercase;
  color: #fff;
  width: 150px;
  border: 1px solid #fff;
  padding: 5px 0px;
  margin: 10px auto;
  font-weight: bold;
  color: #fff!important;
}

#preface-area {
  background: none repeat scroll 0 0 #ED564B;
  border-bottom: 5px solid #F96B61;
  border-top: 5px solid #F96B61;
  padding: 40px 0 20px;
}

.preface-block{
  color: #fff;
  text-align: center;
}


.preface-block .block > h2{
  font-size: 24px;
  font-weight: bold;
}

#header-block, #footer-block {
  padding: 20px 0 0;
}

#data-resource-block, #data-application-block, #data-trade-block, #data-notification-block{
  padding: 20px 0 0;
}

#bottom{
  padding: 20px 0px 40px 0px;
  background: #3b3b3b;
  border-top:5px solid #ed564b;
}
 
.footer-block{
  color: #aaa;
}

.footer-block .block > h2{
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px 0px;
  color:#fff;
  text-transform: uppercase;
}

/* Footer */

.site-footer{
  padding: 10px 0px;
  background:#292929;
  font-size: 12px;
}

.fcred{
  padding: 10px 0px;
  color: #bbb;
}

.fcred a:link, .fcred a:visited{
  color:#fff;
}

/* =Content
----------------------------------------------- */

.node h2.title a, h1.page-title {
  color: #000000;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

#content .node-teaser {
  padding-bottom:30px;
  border-bottom:1px solid #DDDDDD;
  margin-bottom: 15px;
}

.node-teaser img {
  border: 1px solid #CCCCCC;
  padding: 6px;
  height: auto;
  max-width: 97.4%;
  margin: 0.5em 1em 0.5em 0;
  float: left;
}
.page-node #content-wrap img {
  border: 1px solid #CCCCCC;
  padding: 6px;
  height: auto;
  max-width: 97.4%;
  margin: 0.5em 1em 0.5em 0;
}

.region-content-top {
  margin-bottom: 20px;
}

#sidebar .block {
  margin-bottom: 30px;
}

#sidebar .block > h2 {
  font-size: 20px;
  color:#000;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.preface-block .block, .footer-block .block, .region-footer .block, .region-header .block, .region-content-top .block {
  margin-bottom: 30px;
}


/* -------------- Form Elements  ------------- */

fieldset { background: #ffffff; border: 1px solid #cccccc; margin-top: 10px; margin-bottom: 32px;
padding: 0 0 10px; position: relative; top: 12px; /* Offsets the negative margin of legends */
-khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.fieldset-wrapper { margin-top: 25px; }

.node-form .vertical-tabs .fieldset-wrapper { margin-top: 0; }

.filter-wrapper { top: 0; padding: 1em 0 0.2em;
-khtml-border-radius-topright: 0; -khtml-border-radius-topleft: 0; -moz-border-radius-topright: 0; -moz-border-radius-topleft: 0;
-webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0; border-top-left-radius: 0; border-top-right-radius: 0; }

.filter-help a { font-size: 0.857em; padding: 2px 20px 0; }

.filter-wrapper .form-item label { margin-right: 10px; }

.filter-wrapper .form-item { padding: 0 0 0.5em 0.5em; }

.filter-guidelines { padding: 0 1.5em 0 0.5em; }

fieldset.collapsed { background: transparent; -khtml-border-radius: 0; -moz-border-radius: 0;  -webkit-border-radius: 0; border-radius: 0; }

fieldset legend { background: #dbdbdb; border: 1px solid #ccc; border-bottom: none; display: block; height: 2em;
left: -1px; line-height: 2; padding: 0; position: absolute; text-indent: 10px; text-shadow: 0 1px 0 #fff; top: -12px; width: 100%;
-khtml-border-radius-topleft: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; 
-khtml-border-radius-topright: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }

fieldset.collapsed legend { -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

fieldset .fieldset-wrapper { padding: 0 10px; }

fieldset .fieldset-description { margin-top: 5px; margin-bottom: 1em; line-height: 1.4; font-style: italic; }

input { margin: 2px 0; padding: 4px; }

input, textarea {  font-size: 0.929em; }

textarea { line-height: 1.5; }

textarea.form-textarea, select.form-select { padding: 4px; }

input.form-text, textarea.form-textarea, select.form-select { border: 1px solid #ccc; }

.password-suggestions ul li { margin-left: 1.2em; }

.form-item { margin-bottom: 1em; margin-top: 2px; }

.form-item label { font-size: 0.929em; }

.form-type-radio label, .form-type-checkbox label { margin-left: 4px; }

.form-type-radio .description, .form-type-checkbox .description { margin-left: 2px; }

.form-actions { padding-top: 10px; }

/* Contact Form */

.contact-form #edit-name { width: 100%;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
-khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.contact-form #edit-mail { width: 100%;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
-khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.contact-form #edit-subject { width: 100%;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
-khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.contact-form #edit-message { width: 100%;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
-khtml-border-top-left-radius: 4px; -khtml-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px;
border-top-left-radius: 4px; border-top-right-radius: 4px; }

.contact-form .resizable-textarea .grippie {  width: 100%;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
-khtml-border-bottom-left-radius: 4px; -khtml-border-bottom-right-radius: 4px; -moz-border-radius-bottomleft: 4px;
-moz-border-radius-bottomright: 4px; -webkit-border-bottom-left-radius: 4px; -webkit-border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }

/* Comment form */

.comment-form label { float: left; font-size: 0.929em; }

.comment-form input, .comment-form .form-select { margin: 0; 
-khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.comment-form .form-type-textarea label { float: none; }

.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select { margin-bottom: 10px; overflow: hidden; }

.comment-form .form-type-checkbox,
.comment-form .form-radios { margin-left: 120px; }

.comment-form .form-type-checkbox label,
.comment-form .form-radios label { float: none; margin-top: 0; }

.comment-form input.form-file { width: auto; }

.comment-form .form-text { display: block; margin: 0; width: 100%;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.comment-form .form-item .description { font-size: 0.786em; line-height: 1.2; margin-left: 120px; }

#content h2.comment-form { margin-bottom: 0.5em; }

.comment-form .form-textarea { -khtml-border-radius-topleft: 4px; -khtml-border-radius-topright: 4px;
-moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px;
-webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px;
border-top-left-radius: 4px; border-top-right-radius: 4px; }

.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item { margin-top: 0; margin-bottom: 0; }

.filter-wrapper label { width: auto; float: none; }

.filter-wrapper .form-select { min-width: 120px; }

.comment-form fieldset.filter-wrapper .tips { font-size: 0.786em; }

#comment-body-add-more-wrapper .form-type-textarea label { margin-bottom: 0.4em; }

#edit-actions input { margin-right: 0.6em; }

/* Other Overrides */

div.password-suggestions { border: 0; }

.ui-widget-overlay { background: #222222; opacity: 0.7; }

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane { padding: 1em; }

#forum .name { font-size: 1.083em; }

#forum .description { font-size: 1em; }

/* Form Buttons */



button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
/* IE10 */ 
background-image: -ms-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DBDBDB), color-stop(1, #F2F2F2));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Proposed W3C Markup */ 
background-image: linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* IE6-9 */ 
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#F2F2F2');

-moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;
-moz-box-shadow: inset 0 1px 0 0 white;
-webkit-box-shadow: inset 0 1px 0 0 white;
-o-box-shadow: inset 0 1px 0 0 white;
box-shadow: inset 0 1px 0 0 white;
cursor: pointer; }

button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width { 
width: 100%; padding-left: 0 !important; padding-right: 0 !important; text-align: center; }


#block-search-form { padding-bottom: 7px; }

#block-search-form .content { margin-top: 0; }

#search-form .form-item-keys label { display: block; }


ol.search-results { padding-left: 0; }

.search-results li { border-bottom: 1px solid #d3d7d9; padding-bottom: 0.4285em; margin-bottom: 0.5em; }

.search-results li:last-child { border-bottom: none; padding-bottom: none; margin-bottom: 1em; }

.search-results .search-snippet-info { padding-left: 0; }


.meta {
  margin: 5px 0 10px 0;
}

.meta a {
  color: #999;
}

.meta a:hover {
  color: #000;
}

.meta li {
  display: inline;
  margin-right: 5px;
  margin-right: 10px;
}

.meta strong{
  font-weight: 600;
  color: #111;
}

.meta li:last-child {
  margin-right: 0;
  padding-right: 0;
  background: none;
}

.links li a {
  background-color: #E7E5E3;
  color: #100100;
  padding: 4px 5px;
  border-radius: 4px;
  text-shadow: 1px 1px #fff;
  font-weight: normal;
}

.links li a:hover {
  background-color: #D7D5D3;
  color: #100101;
}


/*-------------------------------------------*
/* Fix CKEditor style
/*-------------------------------------------*/
#content table.cke_editor {
  background: transparent;
  border: 0;
}
#content table.cke_editor td {
  background: transparent;
  padding: 0;
  border: 0;
}

/*-------------------------------------------*
/* Poll, Buttons, Form
/*-------------------------------------------*/
.poll .vote-form .choices .title {
  font-size: 14px;
  font-weight: normal;
  line-height: 2;
}

.poll .vote-form .choices {
  margin: 0;
}

.form-item label {
  font-size: 13px;
  font-weight: bold;
}

/*-------------------------------------------*
/* Menus and item lists 
/*-------------------------------------------*/
.item-list ul {
  margin: 0;
  padding: 0 0 0 1.5385em;
}

.item-list ul li {
  margin: 0;
  padding: 0;
}

ul.menu li {
  margin: 0;
  padding: 0;
}

ul.inline {
  clear: both;
}

ul.inline li {
  margin: 0;
  padding: 0;
}

/*-------------------------------------------*
/* Admin Tabs
/*-------------------------------------------*/
.tabs-wrapper {
  border-bottom: 1px solid #b7b7b7;
  margin: 0 0 5px 0;
}

ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  background: none;
  border: none;
  display: block;
  float: left;
  line-height: 1.5385em;
  margin: 0;
  padding: 0 1em;
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
}

ul.primary li a:hover, ul.primary li a.active {
  background: #666;
  border: none;
  color: #fff;
}

ul.primary li a:hover {
  background: #888;
  text-decoration: none;
}

ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}

ul.secondary li {
  border-right: none;
}

ul.secondary li a, ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5385em;
  padding: 0 1em;
}

ul.secondary li a:hover, ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: none;
}

ul.secondary a.active {
  border-bottom: none;
}

ul.inline, ul.links.inline {
  margin-left: 0;
}

/*-------------------------------------------*
/* Tabs and Tags
/*-------------------------------------------*/
.field-name-field-tags {
  margin: 0 0 10px 0;
}

.field-name-field-tags a{
  background: #ed564b;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  color: #fff;
  padding: 2px 6px;
}

.field-name-field-tags a:hover{
  background: #111;
  color: #fff;
}

.field-name-field-tags div {
  display: inline;
}


/*-------------------------------------------*
/* Profile
/*-------------------------------------------*/
.profile {
  margin: 1.5385em 0;
}

.profile dd {
  margin-bottom: 1.5385em;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.password-parent {
  width: 36em;
}

/* Comments */

.comment h2.title { margin-bottom: 1em; }

.comment div.user-picture img { margin-left: 0; }

.comment { margin-bottom: 20px; display: table; vertical-align: top; }

.comment .attribution { display: table-cell; padding: 0 35px 0 0; vertical-align: top; overflow: hidden; }

.comment .attribution img { margin: 0; border: 1px solid #d3d7d9; }

.comment .attribution .username { white-space: nowrap; }

.comment .comment-submitted p { margin: 4px 0; font-size: 1.071em; line-height: 1.2; }

.comment .comment-submitted .comment-time { font-size: 0.786em; }

.comment .comment-submitted .comment-permalink { font-size: 0.786em; text-transform: lowercase; }

.comment .content { font-size: 0.929em; line-height: 1.6; }

.comment .comment-arrow { background: url(images/comment-arrow.gif) no-repeat 0 center transparent;
border-left: 1px solid; border-right: 1px solid; height: 40px; margin-left: -36px; margin-top: 15px; position: absolute; width: 22px; }

.comment .comment-text { padding: 0 25px 10px 35px; display: table-cell; vertical-align: top; position: relative; width: 100%; border-left: 1px solid #d3d7d9; }

.comment .indented { margin-left: 40px; }

.comment-unpublished { margin-right: 5px; padding: 5px 2px 5px 5px; }

.comment .comment-text .comment-arrow { border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; }


/*-------------------------------------------*
/* Forum
/*-------------------------------------------*/
.field-name-taxonomy-forums div {
  display: inline;
  margin-top: 4px;
}

.field-name-taxonomy-forums .field-items {
}

#forum .title {
  font-size: 16px;
}

#forum .submitted {
  font-size: 12px;
  font-family: Lucida Grande, Verdana, Arial, sans-serif;
  background: transparent;
  padding: 0;
}

#forum .container {
  background: #a1a1a1;
  color: #fff;
}

#forum .container a {
  color: #000;
  font-weight: bold;
}

#forum div.indent {
  margin-left: 2px;
}

.forum-starter-picture {
  float: left;
  padding: 4px;
  border: 1px solid #d9d9d9;
  margin: 5px 7px 5px 0;
}

#forum th {
  background: #434343;
  text-shadow: none;
  color: #fff;
}

#forum th a {
  color: #fff;
}

#forum td.forum .icon, #forum .icon div {
  background: url(images/no-new-posts.png) no-repeat;
  width: 35px;
  height: 35px;
}

#forum .name a{ 
  font-size: 16px;
}


@media screen and (max-width: 768px) {
  html{
    font-size: 60%;
  }

  h1#site-title{
    text-align: center;
  }

  #site-logo {
    padding-top: 0;
  }
  
  select.mnav{
    width: 100%;
    margin-bottom: 20px;
  }

  #main-menu{
    display:none;
  }
    
  .flex-caption{
    display: none;
  }

}

#data-application-block{
  background: #222222;
}

#data-perception-block{
  background: #ffacac;
}

#footer-block{
  background: #444444;
}

.c21 .form-submit{
    background: #fd5f47 url("img/icon-search.png") no-repeat scroll 25px center;
    border: 1px solid #c52a13;
    display: block;
    float: left;
    height: 43px;
    text-align: center;
    width: 190px;
    border-radius:0px;
    box-shadow: 0 0px 0 0 white inset;
    text-shadow: 0 0px 0 white;
    color:#ffffff
}
.c21 .form-submit:hover{
    background: #fd5f47 url("img/icon-search.png") no-repeat scroll 25px center;
    border-radius:0px;
    box-shadow: 0 0px 0 0 white inset;
    text-shadow: 0 0px 0 white;
    color:#ffffff
}
.index-btn:hover{
    background: #ffb900;
    box-shadow: 0 0 0;
    border-radius: 3px;
    border:0;
}
.index-btn{
    background: #ffb900;
    width: 120px;
    height: 35px;
    color: #464955;
    font-size: 15px;
    border-radius:3px;
    border: 0;
    position: absolute;
    top: 270px;
    box-shadow: 0 0 0;
    text-shadow: 0 0 0;
}

